@accent: #26e934;
// @accent: #499a43;
:root {
    --accent-color-main: @accent;
    --accent-color-light-4: lighten(spin(@accent, -8), 80%, relative);
    --accent-color-light-3: lighten(spin(@accent, -6), 60%, relative);
    --accent-color-light-2: lighten(spin(@accent, -4), 40%, relative);
    --accent-color-light-1: lighten(spin(@accent, -2), 20%, relative);
    --accent-color-dark-1: darken(spin(@accent, 5), 20%, relative);
    --accent-color-dark-2: darken(spin(@accent, 10), 40%, relative);
    --accent-color-dark-3: darken(spin(@accent, 15), 60%, relative);
    --accent-color-dark-4: darken(spin(@accent, 20), 70%, relative);
    --accent-color-dark-5: darken(spin(@accent, 25), 80%, relative);
    --accent-color-dark-6: darken(spin(@accent, 30), 90%, relative);
}
