body {
    padding: 100px 50px;
    margin: 0;

    background-image: linear-gradient(
        to bottom right,
        var(--accent-color-dark-6),
        70%,
        var(--accent-color-light-3)
    );
    background-size: cover;
    background-attachment: fixed;

    color: white;
    font-family:
        "IBM Plex Sans",
        "Segoe UI",
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }
}
