.button {
	color: var(--accent-color-dark-6);

	background-image: linear-gradient(
        to bottom,
        var(--accent-color-dark-1),
        var(--accent-color-dark-2) 10%,
        var(--accent-color-dark-1)
    );
	background-size: cover;
	box-sizing: border-box;
	border: 2px solid var(--accent-color-dark-2);
	border-radius: 8px;

	cursor: pointer;
	user-select: none;

	// transition: box-shadow 50ms cubic-bezier(0.390, 0.575, 0.565, 1.000);

	&:hover {
		background-image: linear-gradient(
            to bottom,
            var(--accent-color-light-3),
            var(--accent-color-light-4)
        );
		border-color: var(--accent-color-light-2);
		color: var(--accent-color-dark-6);
		box-shadow: 0 0 5px 1px var(--accent-color-main);
	}

	&:active {
		background-image: linear-gradient(
            to bottom,
            var(--accent-color-dark-5),
            var(--accent-color-dark-4)
        );
		border-color: var(--accent-color-dark-2);
		color: var(--accent-color-light-4);
		box-shadow: none;
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}
