@import "../../util/less/unit.less";

// TODO: implement autocomplete color vars
@bg-color: #FFC;

/****** Full search bar ******/
search#search > fieldset#search-bar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;

    flex-direction: row;
    justify-content: center;
    gap: (10 / @unit);

    border: none;

    min-inline-size: unset;

    /***** Input bar *****/
    > div.bar {
        position: relative;
        color: black;
        padding: (2 / @unit) (6 / @unit);
        background-image: linear-gradient(
            to bottom,
            var(--accent-color-light-3),
            white
        );
        background-size: cover;
        box-sizing: border-box;
        border: (2 / @unit) solid var(--accent-color-light-3);
        // border-radius: (8 / @unit);

        > input.input {
            padding: 0;
            outline: 0;
            border: none;
            background-color: transparent;

            font-family: inherit;
            font-size: inherit;
            color: inherit;
            line-height: (16 / @unit);
        }

        > ul.autocomplete {
            width: 100%;
            padding: (2 / @unit) (6 / @unit);
            display: none; // set to "block" when input:focus

            position: absolute;
            bottom: (-14 / @unit);
            left: 0;

            box-sizing: border-box;
            background-image: linear-gradient(
                to bottom,
                desaturate(darken(spin(@bg-color, -5), 10%, relative), 10%, relative),
                @bg-color
            );
            border: (2 / @unit) solid darken(spin(@bg-color, -5), 20%, relative);
            // border-radius: (8 / @unit);

            /*** Arrow ***/
            &::after {
                content: "";
                display: block;
                width: 0;

                position: absolute;
                bottom: 100%;
                left: (6 / @unit);

                border-width: 0 (10 / @unit) (10 / @unit);
                border-style: solid;
                border-color:
                    desaturate(darken(spin(@bg-color, -5), 10%, relative), 10%, relative)
                    transparent;
            }

            /* Maintain visibility when input focus is lost and mouse is still
             * hovering over element
             */
            &:hover {
                display: block;
            }

            /*** Results exist ***/
            > li:has(> span:is(.name, .count)) {
                display: grid;
                grid-auto-columns: 2fr 1fr;

                > span.name {
                    display: flex;
                    justify-content: flex-start;
                    overflow-wrap: anywhere;
                }
                > span.count {
                    display: flex;
                    justify-content: flex-end;
                    &::before { content: "("; }
                    &::after  { content: ")"; }
                }
            }

            /*** Results are pending ***/
            &.loading {
                background-image: linear-gradient(
                    to bottom,
                    var(--accent-color-light-3),
                    var(--accent-color-light-4)
                );
                border-color: var(--accent-color-light-3);
                &::after {
                    border-color: var(--accent-color-light-3) transparent;
                }
            }

            /*** No results ***/
            &:not(:has(> li:has(> span:is(.name, .count)))) {
                color: #4a072c;
                background-image: linear-gradient(
                    to bottom,
                    #f8bac1,
                    white
                );
                border-color: #f8bac1;
                &::after {
                    border-color: #f8bac1 transparent;
                }
                > li {
                    display: block;
                }
            }
        }

        /**** Input element is focused ****/
        &:has(input.input:focus) {
            /* box-shadow:
                0 (1 / @unit)
                (5 / @unit)
                (3 / @unit)
                fade(@bg-color, 68%); */ // 0x44 = 68
            background-image: linear-gradient(
                to bottom,
                desaturate(darken(spin(@bg-color, -5), 10%, relative), 10%, relative),
                @bg-color
            );
            border-color: darken(spin(@bg-color, -5), 20%, relative);

            > ul.autocomplete {
                display: block; // only visible when focused
            }
        }
    }
}
